/* Estilos CSS para el formulario */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    background-image:url(https://previews.123rf.com/images/dumrongsak/dumrongsak1610/dumrongsak161000088/66651627-interior-moderno-laboratorio-de-ciencias-fondo-hospital-f%C3%A1brica-de-fondo.jpg);
}

header, footer {
    background-color:#092755;
    color: #fff;
    padding: 20px;
}


footer{
    position: static;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    text-align: center;
    background-size: cover;
    /*background-image: url();
    la linea de codigo anterior es para a침adir una imagen de fondo
    */
}


li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.container-form{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #0d1774;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2a8fe2;
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #292828;
    background-color: rgb(184, 184, 189)
}

td {
    color: #fff;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.listado-container {
    max-width: 100%;
    padding: 0 20px;
}
.boton-container {
    margin-block: 30px;
    text-align: center;
    margin-top: 20px;
    
}
a{
    text-decoration: none;
}
.listado-servicios a {
    color: #0e0f0e;
    font-size: 20px;
}

.listado-servicios li::marker {
    content: 游;
}



button, input[type="submit"], input[type="button"] {
    margin: 8px 8px;
    background-color: #0d1774;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #2a8fe2;
}

/* Estilo espec칤fico para el bot칩n "Limpiar Datos" */
button#limpiar {
    background-color: #d9534f; /* Color rojo */
}

button#limpiar:hover {
    background-color: #c9302c; /* Color rojo m치s oscuro al pasar el mouse */
}

/* Estilo espec칤fico para el bot칩n "Regresar a la p치gina de inicio" */
button#regresar {
    background-color: #ebe96d; /* Color azul */
}

button#regresar:hover {
    background-color: rgb(211, 208, 11); /* Color azul m치s oscuro al pasar el mouse */
}

@media screen and (max-width: 600px) {
    .container-form {
        padding: 0 10px;
}
}
